@media only screen and (min-width: 32.5em) {

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .news, .weather, .event, .join, .spotlight, .meet {
        position: relative;  
    }

    .news {
        top: -616px;
    }

    .meet {
        top: -616px;
    }

    .discover {
        top: 0;
    }
    .event {
        top: 666px;
        width: 50%;
    }

    .weather {
        top: 451px;
        width: 50%;
        right: -365px;
        max-inline-size: 350px;

    }



    .spotlight {
        top: -616px;
    }

    .spotlight3 {display: none;}

    .spotlight {
        display: flex;
        flex-direction: row;
        height: 200px;
   
    }

    .spotlight2 img {
        margin: -18px;
        height: 100px;
        
    }

    .spotlight2 h2 {
        margin-top: 0;
        padding: 10px;
        
    }

    .spotlight1 img {
        float: left;
        margin-top: -70px;
        padding: 20px;
        max-width: 200px;
    }

    .spotlight1 h2 {
        text-align: right;
        margin-right: 50px;
    }

    .spotlight1 p {
        text-align: left;
        margin-right: 30px;
    }
    

    nav ul {display: none;}
    nav ul.open {display: block;}
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}

    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}

    footer {
        display: grid;
        grid-template-columns: 50px 400px 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: var(--primary-color);
        border-radius: 15px 15px;
        max-height: 300px;
        margin-top: -200px;
    }
    .disFooter {
        margin: 0;
    }

    footer p:nth-of-type(1) {
        grid-column: 2;
        grid-row: 1;
        color: var(--text-on-primary-background);
        margin: 50px;
        text-align: center;
        font-size: .8rem;
    }

    
    .siteHero img {
        width: 670px;
    }

    .numVisits {
        margin-top: -30px;
        padding: 1px;
    }

/* DISCOVER PAGE  */

    .box {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    }

    picture img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

/*----- Clearfix: Force an Element not to collapse -----*/
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    /* DIRECTORY PAGE DISPLAY START */
    .listTabs tr {
        display: table-row;
    }
    
    .listTabs tr > td {
        padding: 15px;
    }
    /* CONTACT US PAGE CSS */
    .contactRow {
        display: grid;
    }
    

}/* end medium screen */