@media only screen and (min-width: 32.5em) {

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .news, .weather, .event, .join, .spotlight, .meet {
        position: relative;  
    }

    .news {
        top: -616px;
    }

    .meet {
        top: -616px;
    }
    .event {
        top: 666px;
        width: 50%;
    }

    .weather {
        top: 451px;
        width: 50%;
        right: -365px;
    }



    .spotlight {
        top: -616px;
    }

    .spotlight3 {display: none;}

    .spotlight {
        display: flex;
        flex-direction: row;
        height: 200px;
   
    }

    .spotlight2 img {
        margin: -18px;
        height: 100px;
        
    }

    .spotlight2 h2 {
        margin-top: 0;
        padding: 10px;
        
    }

    .spotlight1 img {
        float: left;
        margin-top: -70px;
        padding: 20px;
        max-width: 200px;
    }

    .spotlight1 h2 {
        text-align: right;
        margin-right: 50px;
    }

    .spotlight1 p {
        text-align: left;
        margin-right: 30px;
    }
    

    nav ul {display: none;}
    nav ul.open {display: block;}
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}

    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}

    footer {
        display: grid;
        grid-template-columns: 50px 400px 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: var(--primary-color);
        border-radius: 15px 15px;
        max-height: 300px;
        margin-top: -200px;
    }

    footer p:nth-of-type(1) {
        grid-column: 2;
        grid-row: 1;
        color: var(--text-on-primary-background);
        margin: 50px;
        text-align: center;
        font-size: .8rem;
    }

    
.siteHero img {
    width: 670px;
}

    
}/* end medium screen */